/* root */
:root {
  --bg-light: #f5f5fc;
  --bg-dark: #35353c;
  --bg-darker: #15151c;
  --font-body: #55555c;
  --shadow: #c5c5cc;
}
.search-form form{
  background-color: #232323;
  padding-bottom: 20px;
}

.search-form input[type="text"] {
  width: 60%;
  padding: 12px 15px;
  font-weight: 300;
  font-size: large;
  border-radius: 15px;
 background: linear-gradient(
    to right,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );
  margin: 10px 15px;
  border: none;
}
.bg-dark {
  background-color: #232323;
}
.search-form .alert {
  width: 30%;
  padding: 10px 15px;
  font-weight: 500;
  font-size: large;
  border-radius: 10px;
  color: #f5f5fc;
  background-color: #ff2c2c;
  text-align: center;
  border: none;
}

.search-form input[type="submit"] {
  font-size: medium;
  background-color:  white;
  padding: 13px 27px !important;
  margin: 10px 10px;
  line-height: normal;
  border-radius: 17px;
  text-decoration: none;
  color: #232323;
  transition: all 0.7s ease;
  border: none;
  cursor: pointer;
}

.search-form input[type="submit"]:hover {
background-color:  rgb(168, 236, 193) ;
}

.search-form button {
  font-size: medium;
  width: 20%;
  padding: 13px 27px !important;
  line-height: normal;
  background: white;
  border-radius: 17px;
  text-decoration: none;
  transition: all 0.7s ease;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.search-form button:hover {
 background-color:  rgb(168, 236, 193) ;

}